
.comment-card {
  font-size: 16px;
  z-index: 99;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}


.comment-card-block {
  z-index: 99;
  padding:0;
}


.mar-t-s {
margin-top: 0.5rem ;
}


.mar-b-l {
margin-bottom: 1rem ;
}

.grey-bg {
  background-color: #eaeaea;
}

.bold {
  font-family: 'Source Sans Pro', sans-serif;
  // font-weight: 600;
}
